body {
  font-family: "Avenir Next";
  margin: 0;
}

/********** HOME **********/
/* Intro section */
.home_section {
  text-align: center;
  font-size:64px;
  margin-top: 30vh;
  margin-bottom: 30vh;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.home_section a {
  color: #B7B7B7;
}

.home_section b {
  color: #717171;
}

.name_animation {
  display: inline-block;
  -webkit-animation-name: home_animation; 
  -webkit-animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in;
  animation-name: home_animation;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
}
/*
@-webkit-keyframes home_animation {
  0%   {transform: scale(2,2);}
  100% {transform: scale(1,1);}
}

@keyframes home_animation {
  0%   {transform: scale(2,2);}
  100% {transform: scale(1,1);}

*/